{# preferences #}
{% extends 'KaikmediaAntispamModule:Base:admin.html.twig' %}
{% block header %}
    {% set settings='settings' %}
    {{ parent() }}
{% endblock %} 
{% block title %}
    {% set title_icon="<i class='fa fa-user-secret'></i>" %}
    {% set title=__('Preferences Antispam') %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div id="km_antispam_admin_preferences" class="col-md-12 clearfix">    
  
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}