<div class="col-xs-12 text-center">
    <div class="g-recaptcha" data-sitekey="{{ sitekey|default('') }}"></div>
</div>
{# {% set formCss %}
        <style>
        </style>
{% endset %}
{{ pageAddAsset('header', formCss) }} #}